@use "../common/mixins.scss" as *;
@use "../common/variables.scss" as *;

@include b(search-bar) {
  @include flex-row(flex-start, center);
  position: relative;
  width: $fu-search-bar-width;
  height: $fu-search-bar-height;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #D5D5D5;
  }

  @include e(content) {
    @include flex-row(flex-start, center);
    margin-right: 10px;
    height: 100%;
  }

  @include e(buttons) {
    @include flex-row(flex-end, center);
    flex: auto;
    height: 100%;
  }

  @include b(quick-search) {
    &:after {
      content: none;
    }
  }
}

@include b(search-bar-button) {
  &.el-button {
    @include active-scale(0.9);
  }
}

@include b(search-conditions) {
  @include flex-row(flex-start, center);
  overflow-x: auto;
  overflow-y: hidden;
  height: calc(100% - 2px);

  &::-webkit-scrollbar {
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 5px;
  }

  @include m(large) {
    font-size: 16px;

    @include e(item) {
      height: 32px;
    }
  }

  @include m(small) {
    font-size: 13px;

    @include e(item) {
      height: 26px;
    }
  }

  @include e(item) {
    @include flex-row(flex-start, center);
    flex-shrink: 0;
    position: relative;
    box-sizing: border-box;
    padding: 0 10px;
    border-radius: 50px;
    color: $fu-search-bar-condition-color;
    background-color: $fu-search-bar-condition-bgColor;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
    margin-left: 10px;
    font-size: inherit;

    &:last-child {
      margin-right: 10px;
    }

    div + div {
      margin-left: 4px;
    }

    .condition-value {
      font-style: italic;
    }

    .condition-remove {
      @include active-scale(0.9);
      margin-left: 6px;
      margin-right: -6px;
      cursor: pointer;

      &:hover {
        color: var(--el-color-primary);
      }
    }
  }
}

@include b(quick-search) {
  @include flex-row(flex-start, center);
  min-width: 200px;
  position: relative;

  @include m(large) {
    font-size: 16px;
  }

  @include m(small) {
    font-size: 12px;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #D5D5D5;
  }

  input {
    border: none;
    position: relative;
    font-size: inherit;
    padding: 10px;
    width: 200px;
    box-sizing: border-box;
    color: var(--el-input-text-color);
    background-color: var(--el-input-bg-color);

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--el-input-placeholder-color);
    }
  }

  .clean-button {
    @include active-scale;
    cursor: pointer;

    &:hover {
      color: var(--el-color-primary);
    }
  }
}

@include b(complex-components-trigger) {
  i {
    transition: transform 0.2s;
  }

  @include when(active) {
    i {
      transform: rotate(90deg);
    }
  }
}

@include b(complex-components) {
  @include e(body) {
    width: 100%;
    margin: 5px;
    min-width: 200px;
  }

  @include e(footer) {
    width: 100%;
    text-align: center;
    margin: 5px 0;
  }
}

@include b(complex-component) {
  @include flex-row(space-between, center);
  gap: 20px;
  padding: 5px;

  @include e(content) {
    flex: 1;
  }

  @include e(label) {
    width: 80px;
    padding: 0 5px;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: inherit;

    @include m(large) {
      font-size: 14px;
    }
  }

  @include e(value) {
    padding: 0 5px;
    flex-grow: 1;
    min-width: 240px;
  }
}

@include b(complex-select) {
  &.el-select {
    width: 100%;
  }
}

@include b(complex-date) {
  &.el-date-editor {
    width: 100% !important;
    box-sizing: border-box;
  }
}

@include b(complex-date-time) {
  &.el-date-editor {
    width: 100% !important;
    box-sizing: border-box;
  }
}
