@use 'sass:map';
@use 'sass:color';
@use "./mixins" as *;
@use 'element-plus/theme-chalk/src/common/var.scss' as *;

// fit2cloud ui variables
$condition: () !default;
$condition: map.deep-merge(
    (
      'color': #646A73,
      'bgColor': #F5F6F7,
    ),
    $condition
);

$fu-search-bar: () !default;
$fu-search-bar: map.deep-merge(
    (
      'width': 100%,
      'height': 48px,
      'condition-color': map.get($condition, "color"),
      'condition-bgColor': map.get($condition, "bgColor"),
    ),
    $fu-search-bar
);

$fu-filter-bar: () !default;
$fu-filter-bar: map.deep-merge(
    (
      'color': map.get($condition, "color"),
      'drawer-color': map.get($condition, "color"),
      'condition-color': map.get($condition, "color"),
      'condition-bgColor': map.get($condition, "bgColor"),
      'option-bgColor': map.get($condition, "bgColor"),
      'option-hover-bgColor': rgba($color-primary, 10%),
      'scroll-bgColor': color.mix(#000, map.get($condition, "bgColor"), 15%),
    ),
    $fu-filter-bar
);

$fu-icon-button: ('color': map.get($text-color, "primary")) !default;
$fu-icon-button: map.deep-merge(
    (
      'bgColor': transparent,
      'hover-color': map.get($fu-icon-button, "color"),
      'hover-bgColor': rgba(map.get($fu-icon-button, "color"), 0.1),
      'active-color': map.get($fu-icon-button, "color"),
      'active-bgColor': rgba(map.get($fu-icon-button, "color"), 0.2),
      'disabled-color': #BBBFC4,
      'disabled-bgColor': transparent,
      'gap': 12px,
    ),
    $fu-icon-button
);

:root {
  // 遍历组件变量，例如: --fu-search-bar-{key}: {value}
  @include set-component-css-var('search-bar', $fu-search-bar);
  @include set-component-css-var('filter-bar', $fu-filter-bar);
  @include set-component-css-var('icon-button', $fu-icon-button);
}
