/* https://github.com/antfu/prism-theme-vars */
@use 'prism-theme-vars/base.css' as *;
@use 'prism-theme-vars/marker.css' as *;

span[class~='language-css']:before {
  content: '';
}
[class*='language-']:before {
  content: '';
}

:root {
  --prism-marker-opacity: 0.6;
  --prism-marker-color: var(--code-text-color);
  --prism-line-height: 1.5;
  --prism-background: none;
  --prism-font-family: "JetBrains Mono", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html:not(.dark) {
  --prism-builtin: #3182bd;
  --prism-comment: #848486;
  --prism-deleted: #3182bd;
  --prism-function: #6196cc;
  --prism-boolean: #c25205;
  --prism-number: #c25205;
  --prism-property: #717c11;
  --prism-punctuation: #a8a9cc;
  --prism-keyword: #c792ea;
  --prism-variable: #0b8235;
  --prism-url-decoration: #67cdcc;
  --prism-symbol: green;
  --prism-selector: #0b8235;
}

pre {
  font-weight: 400;
  font-size: 14px;
}
